<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
<p>Hey <span th:text="${username}">User</span>,</p>

<p>To reset your password for SynthexIT , please click the following link:</p>

<p><a th:href="${emailLink}" style="background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;">Reset Password</a></p>

<p>If you don’t want to reset your password, you can ignore this message - someone probably typed in your username or email address by mistake.</p>

<p>Thanks!<br/>
        Team SynthexIT</p>
</body>
</html>
