<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Activation</title>
</head>
<body>
<p>Hello <span th:text="${username}">User</span>,</p>

<p>Welcome to SynthexIT! To activate your account, please click the following button:</p>

<p>
    <a th:href="${emailVerificationLink}"
       style="background-color: #007bff; /* Blue */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              border-radius: 4px;">
        Activate Account
    </a>
</p>

<p>If you didn't sign up for an account on SynthexIT, please ignore this email.</p>

<p>Thank you!<br/>
    Team SynthexIT</p>
</body>
</html>
